$bp-biggest: 120em; // 1920px
$bp-bigger: 100em; // 1600px
$bp-largest: 80em; // 1280px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
$bp-mobile: 25em; //400px
$bp-iphone-se: 23.5em; //375px

:root {
  font-size: 50%;
  box-sizing: border-box;

  --color-primary: #171717;
  --color-secondary: #222222;

  --color-white: #fff;
  --color-white-secondary: #8b8b8b;
  --color-white-ternary: #b9b9b9;

  @media only screen and (max-width: $bp-bigger) {
    font-size: 45%;
  }

  @media only screen and (max-width: $bp-largest) {
    font-size: 40%;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 35%;
  }

  @media only screen and (max-width: $bp-smallest) {
    font-size: 30%;
  }
}

* {
  font-family: "SYNE", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--color-white);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  // overflow: hidden;
}

.app {
  background-color: var(--color-light);
}

.parallax-layout {
  display: grid;
  grid-template-columns: 15rem 1fr 15rem;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: auto;
  background-color: var(--color-primary);
  z-index: 9;

  @media only screen and (max-width: $bp-largest) {
    grid-template-columns: 10rem 1fr 10rem;
  }

  @media only screen and (max-width: $bp-mobile) {
    grid-template-columns: 5rem 1fr 5rem;
  }

  &__main {
    grid-area: 1 / 2 / 2 / 3;
    z-index: 1;
  }
}
